reactflow_n8n_orchestrator/n8n_clinical_triage_workflow.json
{
  "name": "React Flow Execution Engine - Dynamic v2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9b9036fb-7943-42c0-8c18-f5f27d0a15f6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -128,
        96
      ],
      "id": "d8875a8a-1725-4270-88ad-d98d7e359c5d",
      "name": "Webhook",
      "webhookId": "9b9036fb-7943-42c0-8c18-f5f27d0a15f6"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.label }}",
                    "rightValue": "Notification Engine",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "3cb49386-0547-41d9-81b0-cdd01234d884"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Notify"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "474d5e7c-2b1c-4e3c-93b6-87d32e7d594a",
                    "leftValue": "={{ $json.label }}",
                    "rightValue": "API Integration",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "API"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "633b6d8b-22ca-4e1b-9a0e-cf67d2f135a3",
                    "leftValue": "={{ $json.label }}",
                    "rightValue": "Reasoning Agent",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1008,
        96
      ],
      "id": "9e7948eb-1ddf-4115-a46d-a446d0d99592",
      "name": "Switch"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a clinical AI reasoning agent and triage engine. \n\n--- PRIORITY RULE (SAFETY OVERRIDE) ---\nIf the 'Current Visit' symptoms include any of the following: chest pain, difficulty breathing, crushing pain, stroke symptoms, loss of consciousness, or severe hemorrhage, you MUST output \"Severity\": \"CRITICAL\" immediately, regardless of medical history.\n\n--- CURRENT VISIT ---\nNew Symptoms: {{ $('Switch').item.json.prompt }}\n\n--- MEDICAL HISTORY (MEMORY) ---\nPast Symptoms: {{ $('Get row(s) in sheet').item.json.PastSymptoms || 'None' }}\nPrevious AI Assessment: {{ $('Get row(s) in sheet').item.json.PreviousAIAnalysis || 'None' }}\n\nCompare the new symptoms to the history to see if the patient's condition has escalated.\n\nYou MUST output your response as a valid JSON object with EXACTLY two keys:\n1. \"Severity\": \"CRITICAL\" or \"STANDARD\".\n2. \"Summary\": A concise clinical dashboard summary.\n\nOutput ONLY raw JSON. Do NOT include markdown formatting."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1488,
        352
      ],
      "id": "0d99b20f-6e9b-4236-b3c6-b7f8cc4ad828",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "18eEqEuAV0243BcZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.fda.gov/drug/label.json?search=openfda.generic_name:\"{{ $json.content.parts[0].text }}\"&limit=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1632,
        112
      ],
      "id": "ef469eee-e927-4112-a6cb-d777c3acc5a8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a strictly automated Clinical Safety Agent. Your ONLY job is to analyze the provided raw FDA JSON data and summarize it. Do NOT ask for more information. Do NOT output conversational text. If data is missing, state \"Data not found.\"\n\nSummarize into exactly three bullet points:\n1. Primary Clinical Indications: What it is used for.\n2. High-Risk Contraindications & Critical Warnings: (e.g., age groups, pregnancy, liver/heart conditions).\n3. Max Daily Dosage Limits: Strictly extract the maximum limits if provided.\n\nRaw FDA Data:\n{{ JSON.stringify($json) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1840,
        80
      ],
      "id": "980bc4c7-fb0a-4761-9c82-a6b735f64ed1",
      "name": "Message a model1",
      "credentials": {
        "googlePalmApi": {
          "id": "18eEqEuAV0243BcZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BACAF49RT",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=⚕️ *Clinical Safety Summary (openFDA):* {{ $json.content.parts[0].text }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2192,
        112
      ],
      "id": "d606bab7-3988-4619-a836-1f2199abada8",
      "name": "Send a message1",
      "webhookId": "875752c4-1cfd-4fa8-897e-13e56fe89963",
      "credentials": {
        "slackOAuth2Api": {
          "id": "cddhts9hcWl5pq0d",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BACAF49RT",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=📢 *System Notification:* {{ $json.prompt }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1376,
        -240
      ],
      "id": "16dc9649-3d0d-4256-9d59-36a76d3ec647",
      "name": "Send a message2",
      "webhookId": "3299c0c5-63e5-49a0-a0d2-73629fa2d16e",
      "credentials": {
        "slackOAuth2Api": {
          "id": "cddhts9hcWl5pq0d",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_wDvahGnOmVC3Nm8WfiLJhvUjuoFSc6vojdGb5-FVG0",
          "mode": "list",
          "cachedResultName": "EHR_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_wDvahGnOmVC3Nm8WfiLJhvUjuoFSc6vojdGb5-FVG0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_wDvahGnOmVC3Nm8WfiLJhvUjuoFSc6vojdGb5-FVG0/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "PatientID",
              "lookupValue": "={{ $json.patientId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1216,
        400
      ],
      "id": "99bebc97-0698-404e-bf07-365bcf1aaeb9",
      "name": "Get row(s) in sheet",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "418xYbBzyDjErvod",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "body.execution_plan",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        112,
        96
      ],
      "id": "f294bf9e-5b98-47c1-88e5-d2415b4004a3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        96
      ],
      "id": "2631772c-92f9-4234-bec6-8c04db1e7169",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1008,
        -320
      ],
      "id": "9f1f9e07-fc2d-4066-9db3-ffd068dcf856",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-3.1-flash-lite",
          "mode": "list",
          "cachedResultName": "models/gemini-3.1-flash-lite"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a chemical dictionary. Your only job is to convert regional brand names or typos into US generic chemical names. \n\nRules:\n1. If the input is a typo like \"doloper\" or Indian brand like \"Dolo\", convert it to \"Acetaminophen\".\n2. If the input is already a generic/US name (e.g., \"Aspirin\", \"Ibuprofen\"), just output that exact name.\n3. You must output EXACTLY ONE WORD. No sentences, no explanations.\n\nInput: {{ $json.drugName }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.2,
      "position": [
        1296,
        80
      ],
      "id": "7c51b0d2-0a36-47f1-b1fa-58a9d3f8e28b",
      "name": "Message a model2",
      "credentials": {
        "googlePalmApi": {
          "id": "18eEqEuAV0243BcZ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1_wDvahGnOmVC3Nm8WfiLJhvUjuoFSc6vojdGb5-FVG0",
          "mode": "list",
          "cachedResultName": "EHR_Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_wDvahGnOmVC3Nm8WfiLJhvUjuoFSc6vojdGb5-FVG0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_wDvahGnOmVC3Nm8WfiLJhvUjuoFSc6vojdGb5-FVG0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "PatientID": "={{ $('Switch').item.json.patientId }}",
            "PastSymptoms": "={{ $('Switch').item.json.prompt }}",
            "PreviousAIAnalysis": "={{ $json.content.parts[0].text }}"
          },
          "matchingColumns": [
            "PatientID"
          ],
          "schema": [
            {
              "id": "PatientID",
              "displayName": "PatientID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PastSymptoms",
              "displayName": "PastSymptoms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PreviousAIAnalysis",
              "displayName": "PreviousAIAnalysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2080,
        384
      ],
      "id": "3317cc72-1e1b-4703-a0c2-1a889ee851d7",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "418xYbBzyDjErvod",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BACAF49RT",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=🚨 *CRITICAL ESCALATION REQUIRED* 🚨\n<!channel> Patient {{ $json.PatientID }} is showing severe symptoms and requires immediate human intervention!\n\n*AI Triage Summary:*\n{{ JSON.parse($('Message a model').item.json.content.parts[0].text).Summary }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2624,
        576
      ],
      "id": "be918ecd-a5f8-4c01-8116-0bf33fc3866c",
      "name": "Send a message3",
      "webhookId": "3e202103-78f5-41cd-b2ed-f173bffaa928",
      "credentials": {
        "slackOAuth2Api": {
          "id": "cddhts9hcWl5pq0d",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "0d5c5dfe-bb60-4e49-8821-6b0611fd2515",
              "leftValue": "={{ $('Edit Fields').item.json.severity_val }}",
              "rightValue": "CRITICAL",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2304,
        384
      ],
      "id": "13efb47d-941a-4b4b-9271-77265e0559fc",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BACAF49RT",
          "mode": "list",
          "cachedResultName": "new-channel"
        },
        "text": "=🩺 *Clinical AI Alert for Patient: {{ $json.PatientID }}* 🩺\n\n*Updated Symptoms:*\n{{ $json.PastSymptoms }}\n\n*AI Clinical Assessment:*\n{{ JSON.parse($('Message a model').item.json.content.parts[0].text).Summary }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2640,
        800
      ],
      "id": "889d79ca-af23-4701-a867-0b63f7911849",
      "name": "Send a message",
      "webhookId": "ac3566fd-694b-4a6d-8636-e2680b450661",
      "credentials": {
        "slackOAuth2Api": {
          "id": "cddhts9hcWl5pq0d",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3326e346-0095-4bb8-a72e-36f037812d0b",
              "name": "severity_val",
              "value": "={{ JSON.parse($json.content.parts[0].text).Severity }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1824,
        384
      ],
      "id": "3304affb-43cb-4b98-988d-1c894656e47b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Message a model2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model2": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "674ef321-96be-4d3f-b4aa-f11c390ae727",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f3b93c401094cef3b5a97dd8b02301ff8517674dcaff649ece1a2a4139285855"
  },
  "id": "h5V6d0gVy56pzEMI",
  "tags": []
}